*{
    font-family: 'Poppins', sans-serif;
    /*text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Black shadow */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;

}
:root{
    --main-color: #bc9667;
    --text-color: #1b1b1b;
    --background-color: var(--main-color);
    --bg-colour: #fff;
    --secondary-color: #edeae3;

    --box-shadow: 2px 2px 10px 14px rgb(14 55 54 / 15%);

}

section{
    padding: 50px 100px;
}

img{
    width: 100%;
}
body{
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 18px 100px;
    background: var(--background-color);
    transition: 0.5s linear;

}
.logo img{
    width: 75px;
}

.navbar{
    display: flex;
}
.navbar a{
    padding: 8px 17px;
    color: var(--bg-colour);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}.navbar a:hover{
    background-color: green;
    border-radius: 0.2rem;
    transition: 0.5s all linear;
}
.navbar {
    list-style-type: none;
    padding: 0;
}

.navbar > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.navbar > li > a {
    text-decoration: none;
    padding: 10px 15px;
    color: #000;
}

.subcategories {
    /*display: none; /* Hide subcategories by default */
    /*gap: 10px; /* Optional: Add spacing between the items */
    list-style-type: none;
    position: absolute;
    background-color: var(--secondary-color);
    margin-top: 5px;
    /*padding: 0;
    /*display: flex; /* Use flexbox to align items in one line */
    white-space: nowrap; /* Prevent text from wrapping */
}

.subcategories li {
    margin: 0;
}

.subcategories a {
    padding: 10px 15px;
    display: block;
    color: #000;
    text-decoration: none;
}

.subcategories a:hover {
    background-color: green;
}


.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
    
}
.header-icon .bx{
    color: var(--bg-colour);
}
#menu-icon{
    color: var(--bg-colour);
    font-size: 24px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.search-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-colour);
    width: 100%;
}
.search-box.active{
    top: 110%;
    box-shadow: var(--box-shadow);
    transition: 0.25s all linear;
}
.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);
}
.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;

}
.home{
    width: 100%;
    min-height: 100vh;
    background: url(image/IMG_20240224_165349\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;

}
.home-text h1{
    margin-top: 20%;
    font-size: 3.8rem;
    color: var(--bg-colour);
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Black shadow */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-text p{
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Black shadow */
    font-size: 2rem;
    color: var(--bg-colour);
    margin: 1rem 0 1.4rem;
}

.btn{
    
    margin-left: 42%; /* Keeps the button centered horizontally */
    padding: 10px 40px;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    border: 2px solid var(--bg-colour);
    color: var(--bg-colour);
    border-color: var(--bg-colour);
    font-weight: 500;
}
.btn:hover{
    background: #8a6f4d;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    gap: 1.5rem;
}
.about-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
}
.about-img img{
    border-radius: 1.8rem;
}

.heading{
    margin-top: 32px;
    text-align: initial;
}
.heading h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.product-container .box{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    text-align: center;
}

.product-container img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 0.5rem;
}

.product-container .box .content span{
    padding: 0.3rem 1rem;
    color: var(--text-color);
    border: 1px solid black;
    border-radius: 4px;
    border-color: #000;
    font-weight: 500;
    
}

.product-container .box .content span:hover{
    background-color: var(--main-color);
    color: var(--bg-colour);
    transition: 0.75s all linear;
}

.product-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 1.5rem;
    background-color: black;
}
.footer-box h3{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--main-color);
    row-gap: 5px;
}
.footer-box p{
    font-size: 0.938rem;
    margin-bottom: 10px;
    color: white;
}
.footer-box li a{
    color: white;
}
.footer-box li a:hover{
    color: var(--main-color);
}
.contact{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: white;
}

@media(max-width:1058px){
    header{
        padding: 16px 60px;
    }
    section{
        padding: 50px 60px;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .btn{
        margin-left: 35%; /* Keeps the button centered horizontally */  
    }
}

@media(max-width:991px){
    header{
        padding: 16px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text h1{
        font-size: 2rem;
    }
    .btn{
        margin-left: 35%; /* Keeps the button centered horizontally */
        padding: 8px 30px;
        font-size: 1.2rem;
    }
}

@media(max-width:768px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
        margin-right: 17%;
    }
    .navbar{
        position: absolute;
        top: -570%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--secondary-color);
        row-gap: 1.4rem;
        border: 1px solid black;
        padding: 20px;
        transition: 0.3s;
        text-align: center;
    }

    .navbar a:hover{
        color: var(--bg-colour);
    }

    .navbar.active{
        top: 100%;
    }

    section{
        padding: 50px 4%;
    }
    .home-text h1{
        font-size: 2rem;
    }
    .about{
        align-items: center;
    }
    #product-subcategories{
        margin-left: 30%; /* Centers the block horizontally */
        /*text-align: center; /* Center the text */
    }
    .btn{
        margin-left: 38%; /* Keeps the button centered horizontally */
        padding: 6px 25px;
        font-size: 1.1rem;
    }
}

@media(max-width:360px){
    header{
        padding: 11px 4%;
    }
    .logo img{
        width: 45px;
    }
    .home-text{
        padding-top: 15px;
    }
    .home-text h1{
        font-size: 1.4rem;
    }
    .home-text p{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .about-img{
        order: 2;
    }
    .about-text{
        text-align: center;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
    .heading h2{
        font-size: 1.2rem;
    }
    .btn{
        margin-left: 35%; /* Keeps the button centered horizontally */
        padding: 5px 20px;
        font-size: 1rem;
    }
}